<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.danishin.text-zoom"
    version="1.0.5-dev">
    <name>Font Zoom</name>
    <description>Cordova Font Zoom Plugin</description>
    <license>Apache 2.0</license>
    <author>Daniel Shin</author>
    
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/text-zoom.js" name="textzoom">
        <merges target="cordova.plugins.textzoom" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="TextZoom">
                <param name="ios-package" value="CDVTextZoom" onload="true" />
            </feature>
        </config-file>
        <framework src="MediaAccessibility.framework" weak="true" />
        <header-file src="src/ios/CDVTextZoom.h" />
        <source-file src="src/ios/CDVTextZoom.m" />
    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="TextZoom" >
                <param name="android-package" value="com.danishin.textzoom.TextZoom"/>
            </feature>
        </config-file>
        <source-file src="src/android/TextZoom.java" target-dir="src/com/danishin/textzoom" />
    </platform>
</plugin>
